@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base adicionales si son necesarios */
body {
  /* font-family: '--font-inter', sans-serif; Ya se aplica desde layout.tsx */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Asegurar que el cuerpo ocupe al menos toda la altura */
  display: flex; /* Para que el footer se pegue abajo si el contenido es corto */
  flex-direction: column;
}

/* Para que el div raíz también se expanda */
#__next { /* Next.js envuelve la app en un div con id __next */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Scrollbar personalizado (opcional) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* slate-400 con opacidad */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.7); /* slate-500 con opacidad */
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5); /* slate-600 con opacidad */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(55, 65, 81, 0.7); /* slate-700 con opacidad */
}
